raylib/*
mingw/*
*.exe
*.dll
*.o
.vscode/*
.idea/*
alad.o
cutoff_intervals.o
f80.o
fft_main.o
fft.o
graph_main.o
ifft_main.o
mic_src_main.o
peak_main.o
play_main.o
reduce_main.o
simple_wav.o
stretch_main.o
util.o
wav_main.o
wav.o
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
tty-snd-fft
tty-snd-graph
tty-snd-ifft
tty-snd-mic-src
tty-snd-peaks
tty-snd-play
tty-snd-reduce
tty-snd-stretch
tty-snd-wav
